.badge{display: inline-block; position: relative; padding: 0 6px; height:18px; line-height: 18px; font-size: 12px; text-align: center; border-radius: 2px; vertical-align: middle}
.badge+.badge{margin-left: 8px}
.badge-dot{display: inline-block; position: relative; margin-left: 4px; width: 8px; height: 8px; padding: 0; border-radius: 50%}