.dropdown{display: inline-block}
.dropdown-label{display: block}
.dropdown-content{display: block; position: absolute; top: 0; left: 0; background: #fff; z-index: 3000; box-shadow: 1px 1px 10px rgba(0,0,0,.12)};